.line {
  margin-left: 16px;
  width: 34px;
  height: 40px;
  position: relative;
  
  &::after {
    content: "";
    display: block;
    width: 3px;
    height: 40px;
    border-radius: 40px;
    transition: all 0.3s ease;
  }
  
  // Серая (0%)
  &.line-0::after {
    background-color: #d2ceff;
  }
  
  // Наполовину фиолетовая (50%)
  &.line-50::after {
    background: linear-gradient(180deg, #4a3aff 0%, #d2ceff 100%);
  }
  
  // Полностью фиолетовая (100%)
  &.line-100::after {
    background: linear-gradient(180deg, #8c82ff 0%, #4a3aff 100%);
  }
}